:root{
    --dark_color:#3a3d42;
}


.jumbotron{
    background-color: var(--dark_color);
    color:white;
}

.card{
    margin-top: 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
}

p.card-text{
    overflow: hidden;
    height: 100px;
}

footer{
    background-color: var(--dark_color);
    color: white;
    padding: 16px;
}

a{
    text-decoration: none;
    color: white;
}

.btn{
    width: 100%;
}

.top-space{
    margin-top: 30px;
}