:root{
    --dark_color:#3a3d42;
}


.jumbotron{
    background-image: url('/images/hotel1.jpg');
    background-size: 100%;
    background-position: center;
    color:white;
    margin-top: 40px;
}

.jumbotron2{
    height: 300px;
}

div.col-md-3 .card{
    margin-top: 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
}

p.card-text{
    overflow: hidden;
    height: 100px;
}

footer{
    background-color: var(--dark_color);
    color: white;
    padding: 16px;
}

a{
    text-decoration: none;
    color: white;
}

.btn{
    width: 100%;
}

.badge{
    font-size: 15px;
}

.nav-link{
    color: rgba(0, 0, 255, 0.877);
}

div.collapse.card{
    margin: 0;
}

div.d-flex .btn{
    margin-left: 10px;
}